.form-group {
    &:not(:last-child) {
        @extend .mb-4;
    }

    .input-group{
        .form-control{
            border-right:none;

            &:focus{
                + .input-group-addon{
                        border-color: $black;
                }
            }

        }
        .input-group-addon{
            @extend .input-group-text;
            border-left:none;
            background-color: $input-bg;

            .fa-calendar{
                &:before{
                    content:none;
                }
                //TODO: this line must change to relative path. this is becasuse cors
                background:url(../icons/calendar.svg) no-repeat center;
                width:$spacer*1.125;
                height:$spacer*1.125;
            }

        }
    }
}
