$check-box-size: 1.625rem;


.bootstrap-select {
    button.dropdown-toggle{
        border-radius: 0px;
        //TODO: this line must change to relative path. this is becasuse cors
        background-image: url(../icons/arrow-down.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-origin: content-box;
        background-position-y: center;
        padding-left: 16px;
        padding-right: 7.86px;
    }
}

.dropdown-toggle::after{
     //TODO: this line must change to relative path. this is becasuse cors
    background-image:url(../icons/arrow-down.svg);
    border:0px!important;
}
.dropdown-menu{
        --#{$prefix}dropdown-border-radius: 0px;
        min-height:200px!important;

        div[role=listbox]{
            min-height:120px!important;
        }
}

.dropdown-menu {
    --#{$prefix}dropdown-link-active-bg:transparent;
}

div.dropdown.show-tick {
    padding-left:0px;
    div.dropdown-menu div[role="listbox"] ul.dropdown-menu li {
        a.dropdown-item {
            span.check-mark {
                position: relative;
                border: 1px solid $gray-400;
                width: 26px;
                height: 26px;
                display: inline-block;
                background: none;
                left: 0px;
                top: 2px;

                &:after {
                    display: none;
                }
            }

            span.text {
                position: relative;
                top: -5px;
                margin-left: 8px;
                margin-right: 0px;
            }
        }

        a.dropdown-item.selected {
            span.check-mark {
                background: url('data:image/svg+xml;utf8,%3csvg id="tick" xmlns="http://www.w3.org/2000/svg" width="12.237" height="10.074" viewBox="0 0 12.237 10.074"%3e%3cpath id="tick-2" data-name="tick" d="M1.722,4.093A12.421,12.421,0,0,1,5.614,7.17a.72.72,0,0,0-.845.194L4.654,7.5A11.061,11.061,0,0,0,5.93,5.422,12.575,12.575,0,0,1,10.968.1a.891.891,0,0,1,1.2.38c.287,1.015-.419,2.115-.748,3-.979,2.3-3.047,3.791-4.534,5.7a2.419,2.419,0,0,1-2.115.882C2.5,9.5.86,7.438.053,5.293a1.1,1.1,0,0,1,1.669-1.2" transform="translate(0.001 0)" fill="rgb(249, 157, 0)"/%3e%3c/svg%3e') center center no-repeat;
                background-color: $black;

                &:after {
                    display: none;
                }
            }

            span.text {
                font-weight: bold;
                color: black;
            }
        }
    }
}
 a.dropdown-item.selected{
     span.text{
        font-weight: bold;
        color: black;
     }
 }


.bs-actionsbox{
    text-align: center;
}

.bs-searchbox{
    text-align: -webkit-center;
    border-bottom : 1px solid #{$gray-400};
    padding-bottom: 8px;
    margin-bottom: 8px;
    
    input.form-control{
        --#{$prefix}border-color: #{$gray-400}!important;
        --#{$prefix}background-color: #{$gray-50} !important;
        border-radius: 0px;
        padding-left: 16px;
        font-family: #{$font-family-monospace};
        font-weight: bold;
        width:185px!important;

             //TODO: this line must change to relative path. this is becasuse cors
            //background: url('data:image/svg+xml;utf8,%3csvg id="tick" xmlns="http://www.w3.org/2000/svg" width="12.237" height="10.074" viewBox="0 0 12.237 10.074"%3e%3cpath id="tick-2" data-name="tick" d="M1.722,4.093A12.421,12.421,0,0,1,5.614,7.17a.72.72,0,0,0-.845.194L4.654,7.5A11.061,11.061,0,0,0,5.93,5.422,12.575,12.575,0,0,1,10.968.1a.891.891,0,0,1,1.2.38c.287,1.015-.419,2.115-.748,3-.979,2.3-3.047,3.791-4.534,5.7a2.419,2.419,0,0,1-2.115.882C2.5,9.5.86,7.438.053,5.293a1.1,1.1,0,0,1,1.669-1.2" transform="translate(0.001 0)" fill="rgb(249, 157, 0)"/%3e%3c/svg%3e') 160px center no-repeat;
            background-image: url(../icons/search.svg);
            background-repeat:no-repeat;
            background-position-x:160px;
            background-position-y:center;
            background-size: 17.34px 17.03px;
           // background-ima:gray;
        &:focus{
            --#{$prefix}border-color: #{$gray-400}!important;
            --#{$prefix}background-color: #{$gray-50}!important;
            border-color: #{$gray-400}!important;        
            background-color: $gray-50 !important; 
             box-shadow: $btn-focus-box-shadow;
        }
        &:focus-visible{
         @if $enable-shadows {
            box-shadow: $btn-focus-box-shadow;
        } @else {
             box-shadow: $btn-focus-box-shadow;
        }
     }
    }
}


.bs-actionsbox{
    text-align: center;

    .btn-group{
        border-radius: 2rem;
        border: 1px solid black;
        padding: 2px;
        width: 192px;

        .bs-select-all{
            font-size: 12px;
            padding: 0;
            border-radius: 25px!important;
            color:white;
            background-color:black;
        }
        .bs-deselect-all{
                border: 0px;
                margin-left:1px!important;
                 border-radius: 25px!important;
        }
    }
}

