$check-box-size: 1.625rem;

.bootstrap-select {

    @extend .align-middle;
    min-width: 220px;
    @extend .form-control;
    @extend .p-0;

    &.show {
        button.dropdown-toggle {
            --#{$prefix}btn-border-width : #{$input-focus-width};
            --#{$prefix}btn-border-color : #{$input-focus-border-color};
            --#{$prefix}btn-color:#{$input-focus-color};
        }
         .dropdown-menu.show {
            @extend .w-100;
        }
    }

    button.dropdown-toggle {
        --#{$prefix}btn-color:#{$black};
        --#{$prefix}btn-border-width : 0;
        --#{$prefix}btn-font-family : #{$font-family-monospace};
        --#{$prefix}btn-border-radius :0;
        @extend .text-end;
        @extend .d-inline-flex;
        white-space: nowrap;
        @extend .align-items-center;
        background-image: url(/lib/visualspec.shared.theme/dist/icons/arrow-down.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-origin: content-box;
        background-position-y: center;
        @extend .ps-3;
        @extend .pe-2;
        @extend .bg-transparent;
        @extend .w-100;

        &:focus {
            --#{$prefix}btn-border-width : #{$input-focus-width};
            --#{$prefix}btn-border-color : #{$input-focus-border-color};
            --#{$prefix}btn-color:#{$input-focus-color};
        }

        .filter-option {
            @extend .position-static;
            @extend .d-inline;
            @extend .p-0;
            max-width:95%;
            .filter-option-inner-inner{
                @extend .text-truncate;
            }
        }
    }

   
    & select {
        @extend .p-0;
        @extend .h-100;
        @extend .opacity-0;
        @extend .position-absolute;
        @extend .bottom-25;
        @extend .d-block;
        @extend .p-0;
        @extend .start-50;
        width: 0.5px !important;
        z-index: 0 !important;
        border:none;

        &.mobile-device {
            @extend .top-0;
            @extend .start-0;
            @extend .d-block;
            @extend .w-100;
            z-index: 2 !important;
        }
       
    }

    > .dropdown-menu {
       
        .dropdown-menu.inner {
             @extend .p-0;
             @extend .border-0;
             @extend .position-relative;
             li {
                @extend .position-relative;
             }
        }

        .bs-searchbox,
        .bs-actionsbox,
        .bs-donebutton {
            @extend .px-2;
            @extend .py-1;
        }

        .bs-actionsbox {
            .btn-group {
                button {
                     @extend .w-50;
                }
            }
        }
    }
}

select.bs-select-hidden,
.bootstrap-select > select.bs-select-hidden,
    select.selectpicker {
    @extend .d-block;
}

.dropdown-toggle::after{
    background-image:url(/lib/visualspec.shared.theme/dist/icons/arrow-down.svg);
    @extend .border-0;
}
.dropdown-menu{
        --#{$prefix}dropdown-border-radius: 0px;
        min-height:200px!important;

        div[role=listbox]{
            min-height:120px!important;
        }
}

.dropdown-menu {
    --#{$prefix}dropdown-link-active-bg:transparent;
}

div.dropdown.show-tick {
    padding-left: 0px;

    .dropdown-menu.inner {
        @extend .position-relative;
        .no-results{
            @extend .text-center;
        }
    }

    div.dropdown-menu div[role="listbox"] ul.dropdown-menu li {
        a.dropdown-item {
            span.check-mark {
                @extend .position-relative;
                @extend .d-inline-block;
                border: 1px solid $gray-400;
                width: 26px;
                height: 26px;
                background: none;
                left: 0px;
                top: 2px;

                &:after {
                    @extend .d-none;
                }
            }

            span.text {
                @extend .position-relative;
                top: -5px;
                @extend .ms-2;
                @extend .me-0;
            }
        }

        a.dropdown-item.selected {
            span.check-mark {
                background: url('data:image/svg+xml;utf8,%3csvg id="tick" xmlns="http://www.w3.org/2000/svg" width="12.237" height="10.074" viewBox="0 0 12.237 10.074"%3e%3cpath id="tick-2" data-name="tick" d="M1.722,4.093A12.421,12.421,0,0,1,5.614,7.17a.72.72,0,0,0-.845.194L4.654,7.5A11.061,11.061,0,0,0,5.93,5.422,12.575,12.575,0,0,1,10.968.1a.891.891,0,0,1,1.2.38c.287,1.015-.419,2.115-.748,3-.979,2.3-3.047,3.791-4.534,5.7a2.419,2.419,0,0,1-2.115.882C2.5,9.5.86,7.438.053,5.293a1.1,1.1,0,0,1,1.669-1.2" transform="translate(0.001 0)" fill="rgb(249, 157, 0)"/%3e%3c/svg%3e') center center no-repeat;
                @extend .bg-black;

                &:after {
                    @extend .d-none;
                }
            }

            span.text {
                @extend .fw-bold;
                @extend .text-black;
            }
        }
    }
}
 a.dropdown-item{
     cursor:pointer;
 span.text{
     @extend .text-truncate;
    // @extend .w-100;
    // @extend .d-inline-block; 
     max-width:95%;
 }
 &.selected{
     span.text{
        @extend .fw-bold;
        @extend .text-black;
     }
 }
}

.bs-actionsbox{
   @extend .text-center;
}

.bs-searchbox{
    border-bottom : 1px solid #{$gray-400};
    @extend .pb-2;
    @extend .mb-2;
    
    input.form-control {
        --#{$prefix}border-color: #{$gray-400}!important;
        --#{$prefix}background-color: #{$gray-50} !important;
        border-radius: 0px;
        @extend .ps-3;
        font-family: #{$font-family-monospace};
        @extend .fw-bold;

            background-image: url(/lib/visualspec.shared.theme/dist/icons/search.svg);
            background-repeat:no-repeat;
            background-position-x:95%;
            background-position-y:center;
            background-size: 17.34px 17.03px;
           // background-ima:gray;
        &:focus{
            --#{$prefix}border-color: #{$gray-400}!important;
            --#{$prefix}background-color: #{$gray-50}!important;
            border-color: #{$gray-400}!important;        
            background-color: $gray-50 !important; 
            box-shadow: $btn-focus-box-shadow;
        }
        &:focus-visible{
         @if $enable-shadows {
            box-shadow: $btn-focus-box-shadow;
        } @else {
             box-shadow: $btn-focus-box-shadow;
        }
     }
    }
}


.bs-actionsbox{
   @extend .text-center;

    .btn-group{
        border-radius: 2rem;
        @extend .border;
        @extend .border-1;
        @extend .border-black;
        width: 192px;

        .bs-select-all{
            @extend .p-0;
            @extend .text-white;
            @extend .bg-black;
            font-size: 12px;
        }
        .bs-deselect-all{
                @extend .text-nowrap;
                @extend .border-0;
                margin-left:1px!important;
        }
    }
}
