.nav-tabs {
    --#{$prefix}nav-tabs-border-color : #{$gray};
    --#{$prefix}nav-tabs-border-width :0;
    --#{$prefix}nav-link-font-size:#{$font-size-base*1.125};
    .nav-item{

        .nav-link {
            // border-radius: 12px;
            border-bottom-left-radius: var(--#{$prefix}nav-tabs-border-radius);
            border-bottom-right-radius: var(--#{$prefix}nav-tabs-border-radius);
            border-width:.1rem;
            border-color:$gray;
            min-width: 11.25rem;
            background-color: $white;
            @extend .mb-1;
            @extend .p-3;

            &:hover {
                background-color: $gray-200;
                border: 1px solid $gray;
            }

            &:active,&.active {
                @extend .bg-black;
                @extend .text-white;
                border-color: $black;
            }

            &.disabled{
                  border-color: $gray-400;
                  color: $gray-600;
            }

            font-family: $font-family-museo-700;
        }

    }
}

.nav.flex-column.nav-tabs{
    //clear border bottom when vertical tab used
    --#{$prefix}nav-tabs-border-width:0;
}

.form-tabs-header.nav.nav-tabs {
    --#{$prefix}nav-tabs-border-radius: .75rem;

    .nav-link {
        @extend .me-2;
        @extend .nav-link;
        width: auto;
        text-align: center;
    }

    .nav-link.active {
        @extend .bg-black;
        @extend .text-white;
        border-color: $black;
    }
}




////Field info
//TODO: this part must move to another file
.group-control .input-group .input-group-addon .user-help {
    border: 0px;
    background-color: transparent;
    padding-top: 10px;
    background-image: url(/lib/visualspec.shared.theme/dist/icons/info-circle.svg);
    height: 17px;
    width: 17px;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center center;

    &:hover, &:active {
        background-color: transparent;
    }
}


////.subform
form .subform-item a.delete-button {
    @extend .btn-danger;
}

.subform {
    @extend .w-100;
    @extend .mb-3;
}
