.pagination {

    --#{$prefix}pagination-hover-color: #{$white};
    --#{$prefix}pagination-hover-bg:#{$body-color};
    --#{$prefix}pagination-color: #{$body-color};
    --#{$prefix}pagination-border-color: #{$body-color};
    --#{$prefix}pagination-padding-x : .6rem;
    --#{$prefix}pagination-padding-y : .25rem;


    @extend .d-flex;
    @extend .justify-content-end;
    @extend .mt-3;
    @extend .me-3;
    grid-column:1;
    grid-row:last;

    li {
        @extend .page-item;
        @extend .mx-q;

        a{
            @extend .page-link;
            @extend .p-0;
            @extend .d-flex;
            @extend .align-content-center;
            @extend .justify-content-evenly;
            @extend .align-items-center;
            height: unset;
            width: unset;
            min-height: $spacer*2;
            min-width: $spacer*2;
        }
    }
}
.pagination-size.paging-size {
    @extend .d-flex;
    @extend .align-items-start;
    @extend .justify-content-start;
    @extend .fs-5;
    @extend .mt-3;
    grid-column:2;
    grid-row:last;
    label{
        @extend .text-nowrap;
        @extend .me-1;
        @extend .fs-6;
    }
    .bootstrap-select {
        height: $spacer*2;
        min-width:unset;
        @extend .w-auto;
        select {
            @extend .opacity-0;
            @extend .position-absolute;
            @extend .bottom-0;
            @extend .d-block;
            @extend .p-0;
            @extend .h-auto;
            @extend .start-50;
            width: 0.5px !important;
            z-index: 0 !important;
        }
        .dropdown-toggle {
            @extend .py-1;
            @extend .border;
            @extend .ps-3;
            @extend .fw-bolder;
            @extend .h6;
            @extend .mb-0;
            @extend .bg-white;
            min-width: $spacer*4.25;
            font-size: $font-size-base * 1.125;
            --#{$prefix}btn-border-radius :0;
        }
    }
}
