//TODO:font URLs must change to relative path instead of absolute path
@font-face {
  font-family: "MuseoSans-300";
  src: url("../fonts/museo-sans/MuseoSansCnd-300-webfont.woff2") format("woff2"), url("../fonts/museo-sans/MuseoSansCnd-300-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans-700";
  src: url("../fonts/museo-sans/MuseoSansCnd-700-webfont.woff2") format("woff2"), url("../fonts/museo-sans/MuseoSansCnd-700-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
