
@mixin remove-btn-style() {
    border: none;
    background: inherit;

    &:active {
        background-color: inherit;
    }

    &, &:active {
        &:hover, &:focus {
            border-color: inherit;
            background-color: inherit;
            box-shadow: inherit;
        }
    }

    i {
        font-size: 1.2rem;
    }
}
