
.left-menu {

    .card{

       /* --#{$prefix}card-border-radius:#{$border-radius-lg};*/
        --#{$prefix}card-spacer-x : 0;

        .card-header{
            @extend .fs-5;
            @extend .fs-5;
            @extend .pt-2;
            @extend .pb-3;
            @extend .my-1;
            @extend .fw-bold;
            @extend .ps-4;
        }

         .accordion{
            /*--#{$prefix}accordion-btn-icon-width:.75rem;*/
            --#{$prefix}accordion-btn-padding-y:#{$spacer*.4};
            --#{$prefix}accordion-body-padding-x : 0;
            --#{$prefix}accordion-body-padding-y : #{$spacer*.4};
            --#{$prefix}accordion-border-width:0;
            --#{$prefix}accordion-border-radius : 0;
            --#{$prefix}accordion-bg:#{$white};
            --#{$prefix}accordion-active-bg:#{$white};
            --#{$prefix}accordion-active-color:#{$black};
            --#{$prefix}accordion-btn-focus-box-shadow : 0 0 0 0 #000000;
            --#{$prefix}accordion-btn-bg : #{$white};

             .accordion-item{
                 @extend .mb-3;

                 .accordion-header{
                    /*@extend .ps-1;*/
                    @extend .pe-4;
                    @extend .align-items-center;
                    @extend .d-flex;
                     &>a{
                         @extend .fs-5;
                         @extend .text-decoration-none;
                         &:not(:last-child){
                             @extend .flex-grow-1;
                         }
                     }
                 }

                 .accordion-button{
                     @extend .d-inline-block;
                     /*width:0.75rem;*/
                     &::before{
                          @extend .d-inline-block;
                          @extend .me-2;
                          /*flex-shrink: 0;*/
                          width: var(--#{$prefix}accordion-btn-icon-width);
                          height: var(--#{$prefix}accordion-btn-icon-width);
                          margin-right: auto;
                          content: "";
                          background-image: var(--#{$prefix}accordion-btn-icon);
                          background-repeat: no-repeat;
                          background-size: var(--#{$prefix}accordion-btn-icon-width);
                          @include transition(var(--#{$prefix}accordion-btn-icon-transition));
                     }
                     &::after{
                         content:none;
                     }
                     &:not(.collapsed) {
                        &::before {
                          background-image: var(--#{$prefix}accordion-btn-active-icon);
                          transform: var(--#{$prefix}accordion-btn-icon-transform);
                        }
                     }
                 }

                 .accordion-body{
                     ul{
                         --#{$prefix}list-group-action-hover-bg:#{$yellow-100};
                         @extend .list-group;
                         @extend .list-group-flush;

                         li{
                            @extend .list-group-item;
                            @extend .list-group-item-action;
                            &>div{
                                @extend .d-flex;
                                @extend .ms-4;
                                @extend .ps-1;
                                @extend .pe-2;
                                @extend .justify-content-between;
                                @extend .align-items-center;
                                min-height : $spacer*2.8;

                                --#{$prefix}body-font-size:#{$font-size-xs};
                                font-family:var(--#{$prefix}font-monospace);
                                a{
                                     @extend .text-decoration-none;
                                }
                            }
                         }
                     }

                 }
             }
         }

    }
}
