.alertify-log {
    @extend .border-success;
    @extend .text-white;
    @extend .bg-success;

    i {
        position: absolute;
        top: 24px;
        font-size: 24px;
        left: 24px;
        background-image: url('/lib/visualspec.shared.theme/dist/icons/circle-check.svg');
        width:24px;
        height:24px;
    }
}


.alertify.logs {
    bottom: 24px;
    right: 24px;
    width: 383px;
}

.alertify {
    border-radius: 1rem;

    .alertify-buttons {
        @extend .mx-0;
        @extend .px-4;

        .alertify-button-ok {
            @extend .btn;
            @extend .btn-primary;
        }

        .alertify-button-cancel {
            @extend .btn;
            @extend .btn-light;
        }
    }
}
