
.datepicker table tbody tr {
    height: 2rem;
}

.datepicker table thead tr {
    @extend .border-0;
    height: 2rem;

    th.prev span {
        //TODO: this line must change to relative path. this is becasuse cors
        background-image: url('/lib/visualspec.shared.theme/dist/icons/caret--left.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }

    th.picker-switch {
        font-size: 16px;
        font-weight: bold;
        font-family: $font-family-museo-700;
    }

    th.next span {
        //TODO: this line must change to relative path. this is becasuse cors
        background-image: url('/lib/visualspec.shared.theme/dist/icons/caret--right.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.datepicker table tbody tr td {
    font-family: $font-family-monospace;
    width: 26px !important;
    height: 26px !important;
    padding: 8px !important;
}

.datepicker table tbody tr td.active, .datepicker-months table tbody tr td span.active, .datepicker-years table tbody tr td span.active {
    border-radius: 2000px;
    background-color: black;
    color: white;
}




.bootstrap-datetimepicker-widget ul li.picker-switch table tbody tr td {
    border-top: 1px solid #E8E8E8 !important;
    border-radius: 0;

    a {
        font-size: 16px;
        font-family: $font-family-museo-700;
    }
}



.timepicker {
    div table tr {
        td.timepicker-hour span{
            width:10px;
        }
        td.separator {
           font-size:16px;
        }
    }

    div.timepicker-picker table tr td a {

        &:active {
            border: none;
        }

        span.fa-chevron-up {
            //TODO: this line must change to relative path. this is becasuse cors
            background-image: url('/lib/visualspec.shared.theme/dist/icons/arrow-up.svg');
            background-repeat: no-repeat;
            background-position: center center;

            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: $gray-100;
            }
        }

        span.fa-chevron-down {
            //TODO: this line must change to relative path. this is becasuse cors
            background-image: url('/lib/visualspec.shared.theme/dist/icons/arrow-down.svg');
            background-repeat: no-repeat;
            background-position: center center;

            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: $gray-100;
            }
        }
    }

    div.timepicker-hours table tr td, div.timepicker-minutes table tr td {
        padding: 8px;
        width: 16px;
    }
}

.bootstrap-datetimepicker-widget .table-condensed td{
    width:auto;
}
