///<reference path="../../../../lib/bootstrap/grid">
///<reference path="../../utilities/utilities">

.empty-list {
    @extend .ms-4;
}
.grid {
    @extend .table;
    @extend .table-hover;
    @extend .align-middle;
    --#{$prefix}body-font-family:#{$font-family-monospace};
    font-family:var(--#{$prefix}body-font-family);

    thead {
        background-color: $gray-200;

        tr {
            th {
                @extend .py-2;
                line-height:$line-height-base * 1.165;
                @extend .ps-4;
                font-family:$font-family-museo-700;
                font-size:$font-size-base * 1.125;
                &.fit{
                     white-space: nowrap;
                     width: 1%;
                }
            }
             th.select-all{
                input[type=checkbox]{
                    @extend .form-check-input;
                    @extend .fs-6;
                    @extend .mt-1;
                }
            }
        }
    }

    tbody {
        
        tr{
            td{
                padding-top:$spacer*.875;
                padding-bottom:$spacer*.875;
                @extend .ps-4;
                &.fit{
                     white-space: nowrap;
                     width: 1%;
                }
               &.actions a[name="Edit"],&.actions button[name="Edit"] {
                    @extend .btn;
                    @extend .btn-secondary;
                    @extend .edit-item-btn;
                }

               &.actions a[name="View"],&.actions button[name="View"] {
                    @extend .btn;
                    @extend .btn-secondary;
                    @extend .view-item-btn;
                }

               &.actions a[name="Delete"],&.actions button[name="Delete"] {
                    @extend .delete-item-btn;
                }

               .badge{
                   @extend .me-1;
                   @extend .mb-1;
                   --#{$prefix}badge-font-weight:#{$font-weight-light};
                   --#{$prefix}badge-font-size : #{$font-size-xs};
                   /*font-size:;*/
               }
            }
             td.select-row {
                input[type=checkbox]{
                    @extend .form-check-input;
                }
            }
        }
    }
}

.grid-view {
    @extend .d-grid;
}
.grid-view-grouped{
    @extend .d-block;
}

.grid-view, .grid-view-grouped {
    @extend .bg-white;
    @extend .rounded;
    @extend .card;
    @extend .mb-4;
    grid-template: repeat(5,auto) / repeat(2,auto);

    .grid-wrapper {
        @extend .table-responsive;
        grid-column: span 2;
        grid-row: 3;
    }

    .buttons-row {

        &.top-buttons-row {
            grid-column: 2;
            grid-row: 1;

            @extend .mt-2;
            @extend .me-4;
            @extend .float-end;
            @extend .p-4;

            .buttons {
                @extend .float-end;
            }
        }
    }

    > h2 {
        @extend .card-header;
        @extend .bg-transparent;
        grid-column: 1;
        grid-row: 1;
    }

    .search {
        @extend .card-body;
        @extend .align-items-center;
        grid-column: span 2;
        grid-row: 2;

        .form-group {
            & > .group-control {
                @extend .col-12;

                & > input {
                    @extend .w-100;
                }
            }
        }

        &.inline-search {
            @extend .d-flex;
            @extend .align-items-center;
            @extend .flex-wrap;
            @extend .flex-md-nowrap;
            
            .form-group {
                @extend .mb-0;
            }
        }

        .buttons-row {
            .buttons {
                button {
                    @extend .btn;
                    @extend .btn-secondary;
                    @extend .ms-3;
                    @extend .text-end;
                    padding-left: $spacer * 2.25;
                    background-image: url(/lib/visualspec.shared.theme/dist/icons/search.svg);
                    background-repeat: no-repeat;
                    background-position: left;
                    background-position-x: $spacer * .875;
                    background-size: $spacer*.875;
                }
            }
        }
    }

    .empty-list {
        grid-row: 4;
        grid-column: span 2;
    }

    .list-group {
        @extend .h3;
        @extend .border-0;
        @extend .ps-4;
        @extend .my-4;
    }
}
