//$side-bar-background-color: $white;

.sidemenu-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 5.75rem;
    @extend .bg-white;

    .sidebar {
        //background:$side-bar-background-color;
        @extend .d-flex;
        @extend .flex-column;
        @extend .flex-shrink-0;
        @extend .bg-white;
        @extend .h-100;

        .brand {
            @extend .d-block;
            @extend .my-3;
            @extend .py-3;
            @extend .link-dark;
            @extend .text-decoration-none;
            //TODO: this line must change to relative path. this is becasuse cors
            background: url("/lib/visualspec.shared.theme/dist/icons/logo.svg") center no-repeat;
        }

        .dropdownMainmenu {
            @extend .pt-5;
            @extend .position-fixed;
            @extend .vh-100;
            @extend .bg-primary;
            transform: translate(5.75rem, 0px) !important;
            --#{$prefix}dropdown-border-radius: 0 #{$border-radius-2xl} #{$border-radius-2xl} 0;
            --#{$prefix}dropdown-link-active-bg: #ffffff4d;
            --#{$prefix}dropdown-link-active-color: #{$black};
            --#{$prefix}dropdown-link-hover-color: #{$white};
            --#{$prefix}dropdown-link-hover-bg: #{$black};
            --#{$prefix}dropdown-link-color: $white;
            --#{$prefix}dropdown-item-padding-x: #{$spacer*1.5};
            --#{$prefix}dropdown-item-padding-y: #{$spacer*.35};
            --#{$prefix}dropdown-color: #{$white};

            li {
                @extend .mb-2;

                .dropdown-item {
                    @extend .mx-1;
                    transition: $transition-base;
                    width: unset;
                    font-size: $font-size-lg;
                    font-family: $font-family-museo-300;
                    border-radius: $border-radius-2xl;
                }
            }
        }

        .dropdownMainMenuHover {
            @extend .d-block;
            transform: translate(5.75rem, 0px) !important;
            inset: 0px auto auto 0px;
        }

        ul.nav {
            --#{$prefix}nav-link-padding-x: 0;
            @extend .flex-column;
            @extend .mb-auto;
            @extend .text-center;

            .app-current-items {

                @extend .nav-item;
                --#{$prefix}nav-pills-border-radius: 0;

                & > .nav-link {
                    @extend .text-break;
                    max-width: 5.75rem;
                }

                hr{
                    @extend .mx-3;
                    @extend .my-0;
                }

                .phase-selector {
                    @extend .border;
                    @extend .border-white;
                    @extend .ps-2;
                    background: $yellow-700-explicit;
                    .dropdown-toggle {
                        @extend .text-white;
                        max-width: unset;
                        font-family: $font-family-museo-300;
                        font-size: $font-size-lg !important;


                        span {
                            @extend .w-75;
                            @extend .text-break;
                        }

                        &:after {
                            width: $spacer*.65;
                            height: $spacer*.5;
                        }
                    }
                }
            }

            .nav-item, .app-current-items {
                &:active, &.active {
                    .nav-link {
                        .img-container {
                            @extend .bg-black;

                            img {
                                @extend .bg-primary;
                            }
                        }
                    }
                }

                &.dropdown, .dropdown {
                    min-width: unset;

                    .menu-items {
                        @extend .dropdownMainmenu;
                    }

                    &:hover {
                        .menu-items {
                            @extend .dropdownMainMenuHover;
                        }
                    }
                }

                .nav-link {
                    @extend .py-1;
                    --#{$prefix}nav-link-font-size: #{$font-size-xs};

                    .img-container {
                        @extend .py-1;
                        @extend .px-2;
                        @extend .mx-2;
                        transition: $transition-base;
                        border-radius: $border-radius-2xl;

                        img {
                            @extend .py-3;
                            @extend .px-4;
                            @extend .bg-black;
                        }
                    }

                    &:hover {
                        .img-container {
                            @extend .bg-primary;
                        }
                    }

                    span {
                        @extend .d-block;
                        font-family: $font-family-museo-300;
                    }
                }
            }
        }

        .profile {
            @extend .d-flex;
            @extend .flex-column;
            @extend .p-3;

            .dropdown {
                @extend .p-3;
                @extend .rounded;
                background-color: #{$yellow-300};
                min-width: unset;

                .menu-items {
                    @extend .dropdownMainmenu;
                }

                &:hover {
                    @extend .bg-primary;
                }
            }

            &:hover {
                .dropdown {
                    .menu-items {
                        @extend .dropdownMainMenuHover;
                    }
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
}
