//TODO: this can be deleted because of exist in hub
.left-menu-tree {

    nav {
        @extend .mb-3;
        /*@extend .accordion-item;*/

        h4 {
            &:first-child {
                /*@extend .accordion-header;*/
                @extend .d-flex;
                @extend .card-body;
                @extend .card-title;
                @extend .h4;
                @extend .mb-0;
                @extend .align-items-center;
                --#{$prefix}card-title-spacer-y: 0;

                span {
                    &:first-child {
                        /*@extend .accordion-button;*/
                        @extend .px-2;
                        @extend .py-1;
                        @extend .m-2;
                        background: url("/lib/visualspec.shared.theme/dist/icons/arrow-down.svg") center no-repeat;
                    }
                }

                a {
                    &:first-of-type {
                        @extend .flex-fill;
                         text-decoration:none;
                    }
                }

                button {
                    &:first-child{
                        /*@extend .accordion-button;*/
                     }
                }

                .add-item-btn{
                     &:last-child {
                        @extend .btn-action-i;
                        i {
                            background: url("/lib/visualspec.shared.theme/dist/icons/plus.svg") no-repeat;
                        }
                    }

                    text-decoration: none;
                }
            }
        }

        

        .children{
            @extend .accordion-collapse;
            @extend .collapse;
            @extend .show;
        }
    }
}




.scope-treeview {

    nav {
        @extend .card;
        @extend .mb-3;

        h4 {
            &:first-child {
                @extend .d-flex;
                @extend .card-body;
                @extend .card-title;
                @extend .h4;
                @extend .mb-0;
                @extend .align-items-center;
               
                --#{$prefix}card-title-spacer-y: 0;
                
                span {
                    &:first-child {
                        @extend .px-2;
                        @extend .py-1;
                        @extend .m-2;
                         //TODO: this line must change to relative path. this is becasuse cors
                        background: url("/lib/visualspec.shared.theme/dist/icons/arrow-down.svg") center no-repeat;
                    }
                }

                a {
                    &:first-of-type {
                        @extend .flex-fill;
                         text-decoration:none;
                    }
                }

                .scope-treeview__add-item{
                     &:last-child {
                        @extend .btn-action-i;
                        i {
                             //TODO: this line must change to relative path. this is becasuse cors
                            background: url("/lib/visualspec.shared.theme/dist/icons/plus.svg") no-repeat;
                        }
                    }

                    text-decoration: none;
                }
            }
        }

        ul{
            @extend .list-group;
            @extend .list-group-flush;
            @extend .border-0;
            li{
                @extend .list-group-item;
                @extend .list-group-item-action;

                --#{$prefix}list-group-item-padding-y:#{$spacer*1};
                --#{$prefix}list-group-action-hover-bg: #{$yellow-200};
                --#{$prefix}list-group-active-bg: #{$yellow-100};
                --#{$prefix}list-group-active-border-color:#{$yellow-100};

                .treeview-node__title{
                    @extend .d-flex;
                    @extend .ms-4;
                     --#{$prefix}body-font-weight:#{$font-weight-light};
                    .treeview-node__text{
                        @extend .ps-1;
                        @extend .flex-fill;
                        @extend .text-nowrap;
                        @extend .text-truncate;
                    }
                    .treeview-node__icon{
                        @extend .mx-2;
                    }

                    .treeview-node__toggle-actions {
                        @extend .me-3;
                         //TODO: this line must change to relative path. this is becasuse cors
                        background:url('/lib/visualspec.shared.theme/dist/icons/more.svg') center no-repeat padding-box;
                        width:1.25rem;
                        height:1.25rem;
                        transform:rotate(90deg);
                        cursor:pointer;
                    }
                }

                a{
                   text-decoration:none;
                }
            }
            
        }
    }
}

.simplebar-content {
}

