.file-upload {
    .bootstrap-filestyle {
        span {
            label {
                @extend .rounded-pill;
            }
        }

        .progress {
            @extend .h-100;
            @extend .flex-grow-1;
            @extend .rounded-pill;
            @extend .position-relative;
            min-height: 40px;
            background-color: #57B5E23B;
            margin-left: -30px !important;

            input {
                @extend .w-100;
                @extend .position-absolute;
                @extend .ps-5;
                @extend .border-0;
                @extend .text-white;
                @extend .bg-transparent;
                @extend .fs-6;
            }
        }
    }

    .delete-file {
        @extend .p-3;
        @extend .position-absolute;
        @extend .end-0;
        margin-top: -40px;
        margin-right: 30px;
        background: url(/lib/visualspec.shared.theme/dist/icons/close.svg) center no-repeat;
    }
}
.upload-form {
    .validation{
        @extend .d-none;
    }
}
